body {
    background-color: gray;
}

.nav-link {
    color: gray;

}
.container {
    background-color: white;
    margin-top: 5%;
}



.p-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
    margin-left: 5%;
    
}